* {
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 999px) {
}

@media (min-width: 1000px) {
}

#header-logo {
  width: 125px;
  height: 125px;
  display: block;
  text-align: center;
}

h1 {
  font-family: "Days One", sans-serif;
  color: #4b9fc7;
  font-weight: lighter;
}

body {
  background-color: #a5cfe3;
  font-family: "Jost", sans-serif;
}

nav {
  display: block;
  text-align: center;
  height: 40px;
}

nav a {
  text-decoration: none;
  margin: auto;
  padding: 15px;
  font-size: 20px;
  color: white;
}

nav a:hover {
  text-decoration: solid;
  color: #05668d;
}

#profile-div {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin-top: 2.5%;
  width: 60vw;
  height: auto;
  /* background-color: #05668d; */
}

#profile-pic {
  width: 315px;
  height: 315px;
  text-align: center;
  margin-left: 5vw;
}

#profile-text-box {
  color: #4b9fc7;
  padding: 10px;
  margin-top: 3vh;
  margin-left: -5vw;
  width: 30vw;
  height: 15vw;
  background-color: white;
  box-shadow: #96c7de -5px 5px, #c9e2ee -10px 10px;
}

#main-contact-div {
  margin-top: 2.5%;
  width: 40vw;
  height: auto;
  font-weight: lighter;
}

.contact-div {
  text-align: center;
  color: #4b9fc7;
  margin-top: 45px;
  width: 300px;
  height: 40px;
  padding: 10px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.contact-div a {
  color: #4b9fc7;
  text-decoration: none;
}
